In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\DATASET\sales data.csv")
df

C:\Users\abhin\AppData\Local\Temp\ipykernel_6988\3960758768.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\DATASET\sales data.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [4]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\01_raw_snapshot.csv")

## Raw Data Snapshot — Purpose

This snapshot (01_raw_snapshot.csv) is an untouched copy of the original dataset.
It is saved before performing any cleaning or transformations to ensure:
    full reproducibility,
    a permanent reference to the raw source, and
    a clear audit trail for the entire cleaning pipeline.

This file will remain unchanged throughout the project.

## Snapshot Verification

    The row count and column count of 01_raw_snapshot.csv match the original raw dataset.
    The snapshot was created programmatically in this notebook to maintain traceability.
    No cleaning or preprocessing has been applied at this stage.

## Step 2 — Data Type Conversions

This section performs all dtype corrections (date, numeric, and coerced values), following the Cleaning Blueprint.

In [8]:
df = pd.read_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\01_raw_snapshot.csv")

C:\Users\abhin\AppData\Local\Temp\ipykernel_6988\1785808636.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\01_raw_snapshot.csv")

,Unnamed: 0,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [11]:
df["Date"] = pd.to_datetime(df["Date"], errors='coerce')

In [14]:
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

In [15]:
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce')

In [16]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\clean_step1_dtypes.csv", index=False)

### Data Type Conversion Summary
- Date converted to datetime.
- Amount and Qty converted to numeric.
- Invalid values coerced to NaN.
- Saved as clean_step1_dtypes.csv.

In [17]:
# Apply basic text cleanup to all object columns
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [19]:
df['promotion-ids'] = df['promotion-ids'].astype(str).str.strip().str.replace(' ,', ',', regex=False).str.replace(', ', ',', regex=False)

In [21]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\clean_step2_text.csv", index=False)

### Text Normalization Summary
- Trimmed whitespace across all text columns.
- Converted text to lowercase for consistency.
- Standardized basic formatting in promotion-ids.
- Saved as clean_step2_text.csv.

In [28]:
# Clean Amount
df['Amount'] = df['Amount'].astype(str).str.replace(',', '', regex=False).str.replace('₹', '', regex=False)
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

In [29]:
# Clean Quantity
df['Qty'] = df['Qty'].astype(str).str.replace(',', '', regex=False)
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce')

In [30]:
# Clean shipping charge if it exists
if 'ship-charge' in df.columns:
    df['ship-charge'] = df['ship-charge'].astype(str).str.replace(',', '', regex=False).str.replace('₹', '', regex=False)
    df['ship-charge'] = pd.to_numeric(df['ship-charge'], errors='coerce')

In [31]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\clean_step3_numeric.csv", index=False)

### Numeric Cleaning Summary
- Removed commas and currency symbols from Amount, Qty, and any shipping charge fields.
- Converted these fields to numeric.
- Invalid values were safely coerced to NaN.
- Saved as clean_step3_numeric.csv.

In [32]:
# Ensure promotion-ids is string
df['promotion-ids'] = df['promotion-ids'].astype(str).str.strip()

In [33]:
# promo_flag: 1 if promotion exists, else 0
df['promo_flag'] = df['promotion-ids'].apply(lambda x: 0 if x == 'nan' or x == '' else 1)

In [35]:
# promo_count: count number of promotions (by counting commas + 1)
df['promo_count'] = df['promotion-ids'].apply(
    lambda x: 0 if x == 'nan' or x == '' else len(x.split(',')))

In [36]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\clean_step4_promo.csv", index=False)

### Promotion Parsing Summary
- Created promo_flag (1 if promotion applied, else 0).
- Created promo_count (number of promotions based on comma-separated values).
- Kept promotion-ids in cleaned format for reference.
- Saved as clean_step4_promo.csv.

In [37]:
# Normalization: lowercase + strip (already done earlier), but create clean columns

df['status_clean'] = df['Status'].astype(str).str.strip().str.lower()
df['fulfilment_normalized'] = df['Fulfilment'].astype(str).str.strip().str.lower()
df['courier_status_normalized'] = df['Courier Status'].astype(str).str.strip().str.lower()
df['category_clean'] = df['Category'].astype(str).str.strip().str.lower()

### Category Normalization Summary
- Created clean versions of Status, Fulfilment, Courier Status, and Category.
- Normalization is simple: lowercase + strip.
- Saved as clean_step5_category.csv.

In [43]:
df['return_flag'] = df['status_clean'].str.contains('return', na=False).astype(int)
df['cancel_flag'] = df['status_clean'].str.contains('cancel', na=False).astype(int)

In [44]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\clean_step6_derived.csv", index=False)

### Derived Flags Summary
- Created return_flag: 1 if status contains 'return'.
- Created cancel_flag: 1 if status contains 'cancel'.
- Saved as clean_step6_derived.csv.

In [45]:
#  trim + lowercase for city/state/country
df['ship-city'] = df['ship-city'].astype(str).str.strip().str.lower()
df['ship-state'] = df['ship-state'].astype(str).str.strip().str.lower()
df['ship-country'] = df['ship-country'].astype(str).str.strip().str.lower()

# Postal code: trim and keep as string
df['ship-postal-code'] = df['ship-postal-code'].astype(str).str.strip()

In [46]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\clean_step7_location.csv", index=False)

In [47]:
df = df.drop(columns=['Unnamed: 22', 'fulfilled-by'], errors='ignore')

In [48]:
df = df.rename(columns={
    'Date': 'order_date',
    'Amount': 'amount',
    'Qty': 'quantity',
    'Status': 'status',
    'Fulfilment': 'fulfilment',
    'Courier Status': 'courier_status',
    'Sales Channel': 'sales_channel',
    'promotion-ids': 'promotion_ids',
    'ship-city': 'ship_city',
    'ship-state': 'ship_state',
    'ship-country': 'ship_country',
    'ship-postal-code': 'ship_postal_code'
})

In [49]:
df.to_csv(r"E:\M90\PROJECTS\MY PROJECTS\PROJECT 3 — Retail Store Sales Intelligence & Forecasting Engine\03_DATA_CLEANING\clean_master.csv", index=False)

### Final Schema Enforcement Summary
- Dropped redundant columns (Unnamed: 22, fulfilled-by).
- Renamed all columns to clean snake_case format.
- Saved final cleaned dataset as clean_master.csv.